/*header*/
.header-height{
    height: 100px;
    background-color: rgb(30,30,30);
}
.title{
    font-size: 30px;
    color: rgb(220,220,220);
    height: 100%;
    width: 100%;
    padding-top: 30px;
    text-align: center;
}
.title:hover{
    background-color: rgb(220,220,220);
    color: rgb(30,30,30);
    height: 100px;
    width: 100%;
    text-align: center;
}
a:hover{
    text-decoration: none;
}
/*vote*/
.margin-top{
    margin-top: 20px;
}
.margin-left-right{
    margin-left: 20px; margin-right: 20px;
}
.max-height{
    background-color: rgb(230,230,230);
    max-height: 60vh;
    overflow: scroll;
}
li{
    font-size: 20px;
    list-style-type:none;
}
.name{
    padding-top: 22px;
    height: 100%;
    font-size: 30px;
    text-align: center;
}
/* css for the pictures integrator*/



#video, #image{

}
#snap,#snap_black_white,#send_snap,#snap_inverse{
    color: black;
    background-color: rgba(0,0,0,0);
    font-size: 35px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}
